:root {
  // *** Font-size ***
  // Default
  --font-size-default: 13px;
  --line-height-default: 18px;

  // Title-xl
  --font-size-title-xl: 34px;
  --line-height-xl: 41px;

  // Title-lg
  --font-size-title-lg: 28px;
  --line-height-lg: 34px;

  // Title-md
  --font-size-title-md: 22px;
  --line-height-md: 28px;

  // Title-sm
  --font-size-title-sm: 20px;
  --line-height-sm: 25px;

  // Headline
  --font-size-headline: 17px;
  --line-height-headline: 22px;

  // Callout
  --font-size-callout: 16px;
  --line-height-callout: 21px;

  // Subhead
  --font-size-subhead: 15px;
  --line-height-subhead: 20px;

  // Footnote
  --font-size-footnote: 13px;
  --line-height-footnote: 18px;

  // Caption 1
  --font-size-caption-1: 12px;
  --line-height-caption-1: 16px;

  // Caption 2
  --font-size-caption-2: 11px;
  --line-height-caption-2: 13px;

  // Tab
  --font-size-tab: 10px;
  --line-height-tab: 12px;

  // *** Font-family
  --font-family-default: "SF-Pro-Text";
  --font-family-add: "SF-Pro-Display";
}
