.button {
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 600;
  line-height: 120%;
  border-radius: 4px;
  transition: background-color 0.2s;
  display: flex;
  gap: 8px;
  align-items: center;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.variant {
  &-primary {
    background-color: #5181b8;
    border-color: #5181b8;
    color: white;

    &:not(:disabled):hover {
      background-color: #4179b9;
    }
  }
  &-secondary {
    background-color: #e5ebf1;
    border-color: #e5ebf1;
    color: #55677d;

    &:not(:disabled):hover {
      background-color: #dfe4eb;
    }
  }
  &-plain {
    color: #55677d;
    background-color: transparent;

    &:not(:disabled):hover {
      background-color: #e5ebf1;
    }
  }
  &-decline {
    color: #d81f1f;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;

    &:not(:disabled):hover {
      background-color: #fffbfb;
      color: #bd1d1d;
    }
  }
  &-accept {
    background-color: #3c993c;
    border-color: #3c993c;
    color: white;

    &:not(:disabled):hover {
      background-color: #388f38;
    }
  }
  &-outline {
    border-color: #5181b8;
    color: #2a5885;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;

    &:not(:disabled):hover {
      background-color: #5181b8;
      color: white;
    }
  }
}

.size {
  &-lg {
    padding: 1rem 2rem;
  }

  &-md {
    padding: 0.5rem 1.25rem;
  }

  &-sm {
    padding: 0.25rem 0.75rem;
  }
}
