.button {
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 600;
  line-height: 120%;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.2s;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.variant {
  &-primary {
    background-color: #5181b8;
    border-color: #5181b8;
    color: white;

    &:hover {
      background-color: #4179b9;
    }
  }
  &-secondary {
    background-color: #e5ebf1;
    border-color: #e5ebf1;
    color: #55677d;

    &:hover {
      background-color: #dfe4eb;
    }
  }
  &-plain {
    color: #55677d;

    &:hover {
      background-color: #e5ebf1;
    }
  }
  &-decline {
    color: #d81f1f;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: #fffbfb;
      color: #bd1d1d;
    }
  }
  &-accept {
    background-color: #3c993c;
    border-color: #3c993c;
    color: white;

    &:hover {
      background-color: #388f38;
    }
  }
  &-outline {
    border-color: #5181b8;
    color: #2a5885;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: #5181b8;
      color: white;
    }
  }
}

.size {
  &-lg {
    padding: 10px 20px;
  }

  &-md {
    padding: 6px 16px;
  }

  &-sm {
    padding: 5px 16px;
  }
}
